# Ignore local dumps that are used for local testing & development
dumps/*

# Ignore everything in cmd/xd-rsync except Golang or JSON files
cmd/xd-rsync/*
!cmd/xd-rsync/*.go
!cmd/xd-rsync/base-config.json

# Distributables
dist/
